PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/flight_ticket_tracker
JWT_SECRET=replace_this_with_a_long_random_secret

# Create a free Amadeus for Developers account and add your test API keys here:
# https://developers.amadeus.com/
AMADEUS_CLIENT_ID=your_amadeus_api_key
AMADEUS_CLIENT_SECRET=your_amadeus_api_secret
AMADEUS_BASE_URL=https://test.api.amadeus.com
